{% extends 'base.html' %}

{% block title %}Diagnosimple{% endblock %}
{% block content %}
    
<div class="card">
   <img src="https://mcdn.wallpapersafari.com/medium/0/60/gXEGAF.jpg" class="img-fluid img-thumbnail" alt="smaple image" >
   <div class="card-img-overlay overlay-dark text-white d-flex " style="background: rgba(0,0,0,.2)">             
       
       
       
       <div class="card-body">
       <br/><br/><br/><br/><br/><br/><br/>
         <h1 class="display-1 text-center" id = "scrollspyHeading1" >DIAGNOSIMPLE</h1>
  <p class="lead" style="word-spacing: 3px;line-height: 1.6; text-align: center; "> DIAGNOSIS MADE SIMPLE</p>
  
    <br/>
    <hr class="my-4">
  <h1 class="display-6 text-center" id = "scrollspyHeading1" >Get to know about the results with symptoms and readings..</h1>
  <hr class="my-4">

  <p class="lead"> 
 <h1 class="display-6 text-center" id = "scrollspyHeading1" >OUR SERVICES</h1>




<div class="row" style="padding-left:300px">
  <div class="col-sm-3" s>
    <div class="card "  >
      <div class="card-body text-dark">
        <h5 class="card-title">Coronary heart disease</h5>
        <p class="card-text">It is a type of heart disease caused due to reduction of blood flow to the heart muscle.  </p>
        <a href="/heart-prediction#chd" class="btn btn-primary">Predict </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body text-dark">
        <h5 class="card-title text-danger">Coming soon</h5>
        <p class="card-text">__________________________</p>
        <br /> <br />
        <button href="#" class="btn btn-primary" disabled>Go somewhere</button>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body text-dark">
        <h5 class="card-title text-danger">Coming soon</h5>
        <p class="card-text">__________________________</p>
        <br /> <br />
        <button href="#" class="btn btn-primary" disabled>Go somewhere</button>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}